In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day26-ordinal-encoding/customer.csv')

In [4]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [8]:
df=df.iloc[:,2:]

In [9]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
oe=OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [21]:
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [22]:
X_train=oe.transform(X_train)
X_test=oe.transform(X_test)

In [23]:
X_train

array([[2., 1.],
       [2., 1.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [1., 0.],
       [2., 0.],
       [2., 0.],
       [1., 0.],
       [2., 0.],
       [0., 2.],
       [1., 2.],
       [1., 0.],
       [2., 2.],
       [0., 1.],
       [2., 2.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [1., 2.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [0., 2.],
       [1., 1.],
       [2., 2.],
       [0., 2.],
       [2., 1.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [1., 1.],
       [1., 1.]])

In [24]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:
le=LabelEncoder()

In [27]:
le.fit(y_train)

LabelEncoder()

In [28]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [29]:
y_train

array([1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0])